{{extend 'layout.html'}}

{{block head}}
    <h2>{{=request.controller.title()}} <small>Administración > {{=response.subtitle}}</small></h2>
    <hr>
{{end}}


<div class='row'>
    <div> <!-- Well ?-->
        {{if grid.view_form:}}
            {{=grid.view_form.custom.begin}}
                <div class='row'>
                    <div class='col-lg-8'>
						<div class="tabbable-panel">
							<div class="tabbable-line">
								<ul class="nav nav-tabs ">
									<li class="active">
										<a href="#tab_informacion" data-toggle="tab">
										Información </a>
									</li>
									<li>
										<a href="#tab_inscripciones" data-toggle="tab">
										Inscripciones </a>
									</li>
									<li>
										<a href="#tab_pagos" data-toggle="tab">
										Pagos </a>
									</li>
									<li>
										<a href="#tab_asistencias" data-toggle="tab">
										Asistencias </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_informacion">
										<div class="">
											{{include 'persona/tab_informacion.html'}}
											<div class="clearfix"></div>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="tab-pane" id="tab_inscripciones">
										<p>
											{{=LOAD('persona','inscripto.load',ajax=True)}}
										</p>
										<div class="clearfix"></div>
									</div>
									<div class="tab-pane" id="tab_pagos">
										<p>
											
										</p>
									</div>
									<div class="tab-pane" id="tab_asistencias">
										<p>
											
										</p>
									</div>
								</div>
							</div>
						</div>
						<br>    
                               
                    </div>        
                    <div class='col-lg-4'>
                        {{include 'signature.html'}}
                    </div>
                </div>

            {{=grid.view_form.custom.end}}


        {{else:}}
            {{=grid}}
        {{pass}}

    </div>
</div>