<!-- Add script for dataTables -->
{{response.files.append(URL('static', 'media/css/jquery.dataTables.css'))}}
{{response.files.append(URL('static', 'media/js/jquery.dataTables.min.js'))}}
{{response.files.append(URL('static', 'js/curso.js'))}}

{{extend 'layout.html'}}

{{block head}}
    <h2>{{=request.controller.title()}} <small>> {{=response.subtitle}}</small></h2>
    <hr>
{{end}}


<div class='row'>
    <div> <!-- Well ?-->
        {{if grid.view_form:}}
            {{=grid.view_form.custom.begin}}
                <div class='row'>
                    <div class='col-md-9'>
						<div class="tabbable-panel">
							<div class="tabbable-line">
								<ul class="nav nav-tabs ">
									<li class="active">
										<a href="#tab_informacion" data-toggle="tab">
										Información </a>
									</li>
									<li>
										<a href="#tab_inscripciones" data-toggle="tab">
										Inscripciones </a>
									</li>
									<li>
										<a href="#tab_pagos" data-toggle="tab">
										Pagos </a>
									</li>
									<li>
										<a href="#tab_asistencias" data-toggle="tab">
										Asistencias </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_informacion">
										<div class="">
											{{include 'persona/tab_informacion.html'}}
											<div class="clearfix"></div>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="tab-pane" id="tab_inscripciones">
										<p>
											{{=LOAD(c='persona',
                                                f='tab_inscripciones.load',
                                                args=(grid.view_form.custom.dspval.id),
                                                ajax=True)
                                        	}}
										</p>
										<div class="clearfix"></div>
									</div>
									<div class="tab-pane" id="tab_pagos">
										<p>
											{{=LOAD(c='persona',
                                                f='tab_pagos.load',
                                                args=(grid.view_form.custom.dspval.id),
                                                ajax=True)
                                        	}}
										</p>
										<div class="clearfix"></div>
									</div>
									<div class="tab-pane" id="tab_asistencias">
										<p>
											{{=LOAD(c='persona',
                                                f='tab_asistencias.load',
                                                args=(grid.view_form.custom.dspval.id),
                                                ajax=True)
                                        	}}
										</p>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<br>    
                               
                    </div>        
                    <div class='col-md-3 col-xs-12'>
                        {{include 'signature.html'}}
                    </div>
                </div>

            {{=grid.view_form.custom.end}}


        {{else:}}
            {{=grid}}
        {{pass}}

      


    </div>
</div>