<div class="panel panel-danger">
    <div class="container" style="margin-top:10px; margin-bottom:10px;">
        <b>Nombre:</b> {{=grid.view_form.custom.widget.nombre}} <br>
        <b>Apellido:</b> {{=grid.view_form.custom.widget.apellido}} <br>
        <b>Tipo de DNI:</b> {{=grid.view_form.custom.widget.dni_tipo}} <br> 
        <b>DNI:</b> {{=grid.view_form.custom.widget.dni}} <br> 
        <b>Email:</b> {{=grid.view_form.custom.widget.email}} <br>
        <b>Matricula:</b> {{=grid.view_form.custom.widget.matricula}} <br> 
        <b>Telefono:</b> {{=grid.view_form.custom.widget.telefono}} <br> 
        <b>Domicilio:</b> {{=grid.view_form.custom.widget.domicilio}} <br> 
    </div>
</div>