<div class="panel panel-default">
<div class="panel-heading">Registro</div>
    <div class="panel-body">
        <ul class="list-group">
            <div class="registro-label">
                Creado
            </div>
            <li class="list-group-item">
                <span class='glyphicon glyphicon-user'> 
                    {{=grid.view_form.custom.widget.created_by}}
                </span>
            </li>
            <li class="list-group-item">
                <span class='glyphicon glyphicon-time'>
                    {{=grid.view_form.custom.widget.created_on}}
                </span>
            </li>
            <div class="registro-label" style="margin-top:10px;">
                Editado
            </div>
            <li class="list-group-item">
                <span class='glyphicon glyphicon-user'>
                    {{=grid.view_form.custom.widget.modified_by}}
                </span>
            </li>
            <li class="list-group-item">
                <span class='glyphicon glyphicon-time'>
                    {{=grid.view_form.custom.widget.modified_on}}
                </span>
            </li>
        </ul>
    </div>
</div>