html {
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 150%;
    border: 1px none;
    display: inline;
    width: auto;
    height: auto;
    white-space: normal;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

s, strike {
    text-decoration: line-through;
}

a {
    text-decoration: underline;
    color: blue;
}

ins {
    color: green;
    text-decoration: underline;
}

del {
    color: red;
    text-decoration: line-through;
}

pre, code, kbd, samp, tt {
    font-family: "Courier New";
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    -pdf-outline: true;
    -pdf-outline-open: false;
}

h1 {
    font-size: 36px;
    -pdf-outline-level: 0;
}

h2 {
    font-size: 30px;
    -pdf-outline-level: 1;
}

h3 {
    font-size: 24px;
    -pdf-outline-level: 2;
}

h4 {
    font-size: 18px;
    -pdf-outline-level: 3;
}

h5 {
    font-size: 14px;
    -pdf-outline-level: 4;
}

h6 {
    font-size: 12px;
    -pdf-outline-level: 5;
}

h1, h2, h3, h4, h5, h6, p, pre, hr {
    margin:1em 0;
}

address, blockquote, body, center, dl, dir, div, fieldset, form, h1, h2, h3, h4,
h5, h6, hr, isindex, menu, noframes, noscript, ol, p, pre, table, th, tr, td,
ul, li, dd, dt, pdftoc {
    display: block;
}

table {

}

tr, th, td {
    vertical-align: middle;
}

th {
    text-align: center;
    font-weight: bold;
}

.table {
    padding: 1px;
    margin-bottom: 10px;
}

.table-bordered {
    border: .5px solid #ddd;
    vertical-align: middle;
}

.asistencias {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tright {
    text-align: right;
}

.threducepadding {
    padding: 1px;
}

.nro-orden, .matricula. .dni{
    text-align: center;
}

center {
    text-align: center;
}


pre {
    white-space: pre;
}

blockquote {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

noscript {
    display: none;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

.footer{
    margin-bottom: 20px;
    text-align: right;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4
}