{{extend 'layout.html'}}

{{block head}}
    <h2>{{=request.controller.title()}} <small> > {{=curso.titulo}} > Añadir Inscriptos</small></h2>
    <hr>
{{end}}


<div class='row'>
    <div class='col-md-8 col-md-offset-2'>
        <div class='well well-lg'>
            <div class='form-horizontal'>
                <div class='form-group'>
                    <a class='btn btn-default btn-sm btn-asistio' title='Asistio' href="{{=URL('curso', 'index/view/curso', args=curso.id, user_signature=True)}}">
                        <span class='glyphicon glyphicon-arrow-left'></span>
                    </a><hr>
                    <label for='curso-inscripto'>Buscar Persona</label>
                    <div class='form-label'>
                        <div class='pull-right'>
                            <button class='btn btn-xs btn-default new-inscripto'>
                                Añadir al Curso <span class='glyphicon glyphicon-plus-sign'></span>
                            </button>
                            {{=modal.btn()}}
                        </div>
                        <input id='typeahead-id' type='hidden'>
                        <input id='curso-inscripto' class='typeahead form-control' type='text'>
                    </div>
                </div>
                
                <div class='form-group'>
                    <ul class='list-group'></ul>
                </div>

                <div class='form-group'>
                    <button class='btn btn-primary' onclick="ajax(
                                                    '{{=URL('curso',
                                                            'add_inscriptos',
                                                            args=curso.id)}}',
                                                    ['curso_inscripto'],
                                                    ':eval')">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{=modal.modal()}}

{{block page_js}}
    <script src="{{=URL('static', 'js/curso.js')}}"></script>
{{end page_js}}