<div class='row-fluid'>
    <!-- Add Fechas -->
    <div class="col-xs-4">
        <label>fecha</label>
        <input type="date" class="form-control" name='fecha'>
    </div>
    <div class="col-xs-2">
        <label>inicio</label>
        <input type="time" class="form-control" name='hora_inicio'>
    </div>
    <div class="col-xs-2">
        <label>fin</label>
        <input type="time" class="form-control" name='hora_fin'>
    </div>
    <div class='col-xs-1'>
        <br>
        <button type='button' onclick="ajax('{{=URL('curso', 'add_date', vars=dict(curso=grid.view_form.custom.dspval.id))}}', ['fecha', 'hora_inicio', 'hora_fin'], ':eval')">agregar</button>
    </div>
</div>