{{extend 'layout.html'}}


{{block head}}
    <h2>{{=request.controller.title()}} <small>Administración > {{=response.subtitle}}</small></h2>
    <hr>
{{end}}

<div class='row'>
    <div class='well'>
        {{if grid.view_form:}}

            <div class='row'>
                <div class='col-lg-8'>
                    Tabla Detalle del Curso
                </div>
                <div class='col-lg-4'>
                    Información manipulación del registro
                </div>
            </div>

            <div class='row'>
                <div class='col-lg-8'>
                    Botonera | Add Inscripto | Importar Inscriptos
                </div>
            </div>

            <div class='row'>
                <div class='col-lg-8'>
                    Lista de inscriptos
                </div>
            </div>


        {{else:}}
            {{=grid}}

        {{pass}}

    </div>
</div>

