{{extend 'layout.html'}}


{{block head}}
    <h2>{{=request.controller.title()}} <small>Administración > {{=response.subtitle}}</small></h2>
    <hr>
{{end}}

<div class='row'>
    <div> <!-- Well ?-->
        {{if grid.view_form:}}
            {{=grid.view_form.custom.begin}}
                <div class='row'>
                    <div class='col-lg-8'>
                       
                        <div class="tabbable-panel">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs ">
                                    <li class="active">
                                        <a href="#tab_default_1" data-toggle="tab">
                                        Información </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_2" data-toggle="tab">
                                        Fechas </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_3" data-toggle="tab">
                                        Inscriptos </a>
                                    </li>
                                    <li>
                                        <a href="#tab_default_4" data-toggle="tab">
                                        Asistencias </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_default_1">
                                        <div class="well">
                                           <div id='curso-fecha'>
                                                {{=grid}}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_2">
                                        {{include 'curso/add_date.html'}}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_3">
                                         <div class='row'>
                                            <div class='col-lg-8'>
                                                <div id="tab" class="btn-group">
                                                  <a href="#prices2" class="btn btn-large btn-default" data-toggle="tab">Inscribir Nuevo</a>
                                                  <a href="#features2" class="btn btn-large btn-default" data-toggle="tab">Importar Inscriptos</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='row'>
                                            <div class='col-lg-8'>
                                                Lista de inscriptos
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_default_4">
                                        <p>
                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-4'>
                        {{include 'signature.html'}}
                    </div>
                </div>
            {{=grid.view_form.custom.end}}


        {{else:}}
            {{=grid}}

        {{pass}}

    </div>
</div>

